body{
    background-color: #695958;
    width: 300px;
    height: 500px;
    padding:15px;
    margin:0 auto;
    text-align: center;
}

h1{
    color:grey;
}
.centerThings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
  }

  .sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

#happybutton{
  height:55px;
  width:55px;
  border: none !important;
  background-image: url(/happy-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: all .2s ease-in-out;
  margin:10px;
}

#happybutton:hover {
  transform: scale(1.1);
}

#neutralbutton{
  height:60px;
  width:60px;
  border: none !important;
  background-image: url(/neutral-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: all .2s ease-in-out;
  margin:10px;
  margin-bottom: 20px;
}

#neutralbutton:hover {
  transform: scale(1.1);
}

#sadbutton{
  height:60px;
  width:60px;
  border: none !important;
  background-image: url(/sad-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: all .2s ease-in-out;
  margin-left:10px;
}

#sadbutton:hover {
  transform: scale(1.1);
}

#textbox{
  height:99px;
  width:250px;
  z-index: -5;
  border: none !important;
  background-image: url(/emoji-background.svg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}