@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: #695958;
    width: 300px;
    height: 500px;
    padding:15px;
    margin:0 auto;
    text-align: center;
}

h1{
    color:white;
    font-family: "Lobster";
}

h3{
  color:white;
  font-family: "Lobster";
}
.centerThings {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

#happybutton{
  height:55px;
  width:55px;
  border: none !important;
  background-image: url(/happy-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin:10px; 
}

#happybutton:hover {
  transform: scale(1.3); 
}

#neutralbutton{
  height:60px;
  width:60px;
  border: none !important;
  background-image: url(/neutral-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin:10px;
  margin-bottom: 20px;
}

#neutralbutton:hover {
  transform: scale(1.1);
}

#sadbutton{
  height:60px;
  width:60px;
  border: none !important;
  background-image: url(/sad-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left:10px;
}

#sadbutton:hover {
  transform: scale(1.1);
}

#textbox{
  height:99px;
  width:250px;
  z-index: -5;
  border: none !important;
  background-image: url(/emoji-background.svg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  margin-left: 20px;
}

#message{
  height:58px;
  width:250px;
  justify-content: center;
  border: none !important;
  background-image: url(/Mode=Dark\,\ Who_=Recipient.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left:35px;
  
}

#happydrink{
  height:200px;
  width:90px;
  justify-content: center;
  border: none !important;
  background-image: url(/happy-cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:95px;
  display:none;
  z-index: -3;
}

#neutraldrink{
  height:200px;
  width:90px;
  justify-content: center;
  border: none !important;
  background-image: url(/neutral-cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:95px;
  display:none;
  z-index: -4;
}

#saddrink{
  height:200px;
  width:90px;
  justify-content: center;
  border: none !important;
  background-image: url(/sadcup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:95px;
  /* display:none; */
  z-index: -5;
}

#defaultdrink{
  height:200px;
  width:90px;
  justify-content: center;
  border: none !important;
  background-image: url(/default-cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:95px;
  z-index: -1;
 
}

#return{
  height:30px;
  width:30px;
  border: none !important;
  background-image: url(/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top:3px;
}

#happybutton:hover {
  transform: scale(1.3);
  
}

.days {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
}

.calendar {
  margin: 9px;
  background-color: white;
  text-align: justify;
  margin-top:30px;
  border-radius:20px;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.btn {
  width: 20px;
  height: 20px;
  text-align: center;
}
.btn:hover {
  padding: 0.5;
  border: 0.5px solid #000;
  cursor: pointer;
}

  .color_3 {
    background-color: #EEEBDF;
  }

.color_2 {
  background-color: #C2AF9D;
}

.color_1 {
  background-color:#675B5B ;}